@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazirmatn.ttf");
}

.root {
    -fx-font-family: "Vazir";
    -fx-font-size: 14px;
    -fx-text-fill: #e4e4e4;
    -fx-background-color: linear-gradient(to bottom, #1a1a1a, #0d0d0d);
}

.sidebar {
    -fx-background-color: #121212;
}

.chat-bubble-user {
    -fx-background-color: linear-gradient(to right, #3C8CE7, #00EAFF);
    -fx-background-radius: 12px;
    -fx-padding: 8px;
    -fx-text-fill: white;
    -fx-font-family: "Vazir";
}

.chat-bubble-ai {
    -fx-background-color: rgba(255,255,255,0.08);
    -fx-border-color: rgba(255,255,255,0.25);
    -fx-border-radius: 12px;
    -fx-padding: 8px;
    -fx-text-fill: #e4e4e4;
    -fx-font-family: "Vazir";
}

.button {
    -fx-background-radius: 6px;
    -fx-font-family: "Vazir";
}